<div class="banner">
  <h1>Pet Where You Live</h1>
  <form action="<%= map_path %>" method="get" class="map-search" id="map-search">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input name="address" id="address" type="text" value="" placeholder = "Please Enter Your Full Address">
    <button id="search-button" class="fa fa-search" type="submit"></button>
  </form>
</div>

<div class="body-container" id="about-pp">
  <h2>What Is PetPointer?</h2>
  <h3>PetPointer calculates the pet-friendliness of any address based on five factors:</h3>
  <div id="categories">
    <div class="category">
      <h4 class="cat-name">Parks</h4>
      <%= image_tag "park.png", class: "cat-image"%>
      <div class="cat-description">
        <p>
          Let's go on a walk! Whether it's your dog chasing a frisbee and meeting
          other pups, or your cat doing leash-training for outdoor adventures,
          play areas make for happy pets. Close parks contribute to a high score
          in this category.
        </p>
      </div>
    </div>
    <div class="category">
      <h4 class="cat-name">Vets</h4>
      <%= image_tag "vet.png", class: "cat-image"%>
      <div class="cat-description">
        <p>
          Pet checkups can be hard, and emergencies are worse. But when the time
          comes, you want to have good veterinary care nearby. The vet score is
          based on Yelp users' ratings of the vets closest to your location.
        </p>
      </div>
    </div>
    <div class="category">
      <h4 class="cat-name">Pet Services</h4>
      <%= image_tag "services.png", class: "cat-image"%>
      <div class="cat-description">
        <p>
          Time to restock on kibble and litter? Want to buy a spur-of-the-moment
          treat? Or maybe your pet is in need of grooming, training or pet-sitting?
          The pet services score is determined by Yelp users' ratings of nearby
          providers of pet goods and services.
        </p>
      </div>
    </div>
    <div class="category">
      <h4 class="cat-name">Property Size</h4>
      <%= image_tag "sqft.png", class:"cat-image" %>
      <div class="cat-description">
        <p>
          Pets spend a lot of time at home, so having plenty of space to rest and
          roam is essential to their wellbeing. Indoor and outdoor square footage
          of the property are both counted in the property size score.
        </p>
      </div>
    </div>
    <div class="category">
      <h4 class="cat-name">Noise</h4>
      <%= image_tag "noise.png", class: "cat-image" %>
      <div class="cat-description">
        <p>
          Excessive noise from construction, traffic and neighborhood events can
          negatively impact your pet's health. The noise score factors in the
          prevalence and intensity of noise pollution near your location. Limited
          to searches in Seattle.
        </p>
      </div>
    </div>
  </div>
 </div>

 <div id="footer">
   <div id="footer-content">
     <h2>
       PetPointer is a collaboration between
       <%= link_to "Evelyn Bell", "https://github.com/xbell" %>,
       <%= link_to "LeShoya Starkey", "https://github.com/GaBison2007" %>, and
       <%= link_to "Daniel Adler", "https://github.com/danieladler" %> for
       <%= link_to "Code Builders", "http://code.builders" %>. |
       API data provided by
       <%= link_to "Yelp", "http://yelp.com" %> and
       <%= link_to "Zillow", "http://zillow.com"%>.
     </h2>
   </div>
 </div>
</div>
