<div id="search-panel">
    <form action="<%= map_path %>" method="get" class="map-search" id="map-search">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input id="address" type="text" name="address" value="<%= params[:address] %>" placeholder = "Type Address Here!">
    <button id="search-button" type="submit">Go</button>
  </form>
</div>

<div class="content-body">
  <div id="map">
  </div>
  <div id = "right-panel">
    <form id="rating" method="POST" action="/map" class="rating">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="checkbox" class="rating-input" id="rating-input-1-1" name="rating-input-1"/> <!-- checked="true" -->
      <label for="rating-input-1-1" class="rating-star"></label>
    </form>
    <h1>PetPointer Score for [LOCATION ADDRESS]:</h1>
    <div id="petpointlogo">
      <section>
        <article>
          <p> Toco Gives this Location a Petscore of:</p>
          <span id="total-score"> 80 </span>
        </article>
        <aside>
          <img src = "assets/petlogo.png" />
        </aside>
      </section>
    </div>

    <div class="search-results-list" id="search-results-list">
      <section>
        <aside>
          <div class="expander">
            <a href="javascript:void(0)" class="expander-trigger expander-hidden" id="top-park">Parks</a>
            <div class="expander-content">
              <ul id="parks">
              </ul>
              <div>
                <%= link_to image_tag("yelp_powered_btn_red_2x.png"), "http://yelp.com", id:"yelp-logo" %>
              </div>
            </div>
          </div>
        </aside>
        <article>
          <div class="score-container">
            <span class="sub-score" id="parks-score">8</span>
            <span>/20</span>
          </div>
        </article>
      </section>

      <section>
        <aside>
          <div class="expander">
            <a href="javascript:void(0)" class="expander-trigger expander-hidden">Vets(1st One)</a>
            <div class="expander-content">
              <ul>
               <li>Grocery</li>
               <li>Grocery</li>
               <li>Grocery</li>
               <li>
                 <%= link_to image_tag("yelp_powered_btn_red_2x.png"), "http://yelp.com", id:"yelp-logo" %>
               </li>
              </ul>
            </div>
          </div>
        </aside>
        <article>
          <div class="score-container">
            <span class="sub-score" id="vets-score">9</span>
            <span>/20</span>
          </div>
        </article>
      </section>

      <section>
        <aside>
          <div class="expander">
            <a href="javascript:void(0)" class="expander-trigger expander-hidden">Pet Services(1st One)</a>
            <div class="expander-content">
              <ul>
               <li>Grocery</li>
               <li>Grocery</li>
               <li>Grocery</li>
               <li>
                 <%= link_to image_tag("yelp_powered_btn_red_2x.png"), "http://yelp.com", id:"yelp-logo" %>
               </li>
              </ul>
            </div>
          </div>
        </aside>
        <article>
          <div class="score-container">
            <span class="sub-score" id="pet-services-score">10</span>
            <span>/20</span>
          </div>
        </article>
      </section>

      <section>
        <aside>
          <div class="expander">
            <a href="javascript:void(0)" class="expander-trigger expander-hidden">Property Square Footage</a>
            <div class="expander-content">
              <ul>
                <li>Lot Size Square Footage: ____</li>
                <li>Interior Square Footage: ____</li>
                <li>
                  <%= link_to image_tag("http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_150x40_rounded.gif"), "http://zillow.com", id:"zillow-logo", alt:"Zillow Real Estate Search"%>
                </li>
                <li>See more details for [ADDRESS] on Zillow</li>
              </ul>
            </div>
          </div>
        </aside>
        <article>
          <div class="score-container">
            <span class="sub-score" id="sqft-score">5</span>
            <span>/20</span>
          </div>
        </article>
      </section>

      <section>
        <aside>
          <div class="expander">
            <a href="javascript:void(0)" class="expander-trigger expander-hidden">Noise</a>
            <div class="expander-content">
              <ul>
               <li>Grocery</li>
                <li>Grocery</li>
                <li>Grocery</li>
              </ul>
            </div>
          </div>
        </aside>
        <article>
          <div class="score-container">
            <span class="sub-score" id="noise-score">14</span>
            <span>/20</span>
          </div>
        </article>
      </section>
    </div>

    <div id="zillow-disclaimer">
      <a href="http://www.zillow.com/zestimate/">What's a Zestimate?</a>
      <span>© Zillow, Inc., 2006-2014. Use is subject to Terms of Use | </span>
    </div>
  </div>
</div>
