<header class="navigation-centered" role="banner">
  <div class="navigation-centered-wrapper">
    <a href="/" class="mobile-logo">

    <img src="http://chatabout.com/assets/images/questions/2014/11/546aeb2beda8c.jpg" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-navigation-centered-mobile-menu" class="navigation-centered-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-centered-menu" class="navigation-centered-menu show">
        <li class="nav-link"><%= link_to "Home", root_path %></a></li>
        <li class="nav-link"><%= link_to "Search", map_path, 'data-no-turbolink' => true %></a></li>
        <li class="nav-link logo">
          <a href="/" class="logo">
            <img src="http://chatabout.com/assets/images/questions/2014/11/546aeb2beda8c.jpg" alt="Logo image">
          </a>
        </li>
        <% if @current_user %>
          <li class="nav-link"><%= link_to "Account", account_path(@current_user.id) %></li>
          <li class="nav-link"><%= link_to "Sign Out", sign_out_path %></li>
        <% else %>
          <li class="nav-link"><%= link_to "Sign In", sign_in_path %></li>
          <li class="nav-link"><%= link_to "Sign Up", sign_up_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
