<!DOCTYPE html>
<html>
  <head>
    <title>PetPointer</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= render "layouts/navbar" %>

    <%= yield %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoW2NHGNseaYAfK7bdq29jbC-BGrXamAs" type="text/javascript"></script>
  </body>
</html>
